@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  padding: 60px 100px;
}

@media (max-width: 768px) {
  body {
    padding: 40px 40px;
  }
}
