.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navTitle {
  height: 36px;
  width: 220px;
}

.secondaryNavContainer {
  gap: 40px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.requestQuoteContainer {
  padding: 20px 35px;
  border-radius: 14px;
  border: 1px solid black;
}

@media (max-width: 1200px) {
  .secondaryNavContainer {
    display: none;
  }
  .navTitle {
    height: 28px;
    width: 150px;
  }
}
